{
  changelog:
    '0.6.12': "initial import"
    '0.6.13': "Added support for percentage offsets (#185)."
    '0.6.14': "Fixed the direction parameter that's passed to the render events (#339)."
    '0.6.15': "Fixed clicking on links (and other elements) on mobile (#263, #303, #338). Added getMaxScrollTop method (#238)."
  id: 'skrollr'
  main:
    js: 'skrollr.js'
    css: null
  name: 'skrollr'
  type: 'library'
  version: '0.6.15'
}
