// google font import
@import url('http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300')

body 
  font-family 'Merriweather Sans', sans-serif

@import 'nib'

.exports
  margin 0 auto
  width 560px

.exports .pages .page
  background #fff
  padding 0px 0px 0px
  margin 0px
  > div
    color black
    font-weight bold

.export 
// header
  #header
    background black
    text-align center
    > .title
      color white
      font-size 40px
      line-height 100px
  
  // create skratch
  .new-skratch
    padding-top 10px
  
  .insert, .update
    box-sizing border-box
    font-size 16px
    padding 13px 15px 14px 12px
    width 100%
  
  // edit skratches
  
  .update
    display none
  
  // list scratches
  ul
    padding-left 0px
      
  li.skratch
    border-bottom 1px solid #000
    list-style-type none
    min-height 60px
    padding-top 10px
    > .update
      display none
  
  li.skratch.editing
    > .control
      display none
    > .update
      display block
    > .skratch-view
      display none
  
  div.skratch-view
    float left
    width 400px
  
  // buttons
  button.edit-btn, button.remove-btn
    border 1px solid black
    border-radius 7px
    float right
    font-size 18px
    height 32px
    margin-left 5px
    padding 0px
    width 32px

  .edit-btn
    background #f0ad4e

  .remove-btn
    background #d9534f

  .timestamp
    background #EEE
    font-size 12px